.btn_pagination {
  font-size: 16px;
  font-weight: 200;
  padding: 7px 50px;
  border-radius: 100px;
  text-align: center;
  background-color: hsla(83, 90%, 71%, 0.376);
  color: #90c33c;
  border: none;
  cursor: pointer;
  outline: none !important;
  margin: 50px 15px;
}
