.Features {
  max-width: 1120px;
  width: 90%; /*95%*/
  margin: -220px auto 100px auto;
  position: relative;
  z-index: 2;
}

.FeatureContainer {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.FeatureContainer img {
  width: 50%;
}

.FeatureText {
  text-align: left;
  position: absolute;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 18%;
  bottom: 18%;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  width: 55%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  color: #2e3333;
}

.FeatureContainer:nth-child(even) {
  text-align: right;
}

.FeatureContainer:nth-child(even) .FeatureText {
  right: initial;
  left: 0;
}

.FeatureText h3 {
  font-weight: bold;
}

.blogPosts {
  background: #eee;
  padding-top: 50px;
  margin-bottom: 20px;
}

.blogPostsHeader {
  width: 90%; /*95%*/
  max-width: 1150px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.blogPostsHeader {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.blogPostsHeader h1 {
  color: #2e3333 !important;
  font-size: 60px;
  font-weight: bold;
}

.blogPostsHeader p {
  color: #2e3333 !important;
  font-size: 16px;
  font-weight: 300;
}

.articlesList {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 1rem;
}

@media (max-width: 992px) {
  .Features {
    margin: -140px auto 100px auto;
  }

  .FeatureContainer img {
    width: 75%;
  }

  .FeatureText {
    top: 0;
    bottom: 0;
    width: 40%;
  }

  .FeatureText h3 {
    font-size: 22px;
  }

  .FeatureText p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .Features {
    margin: -220px auto 100px auto;
  }

  .FeatureContainer {
    margin-bottom: 50px;
  }

  .FeatureContainer img {
    width: 100%;
  }

  .FeatureText {
    position: static;
    width: 100%;
    padding: 24px;
  }
}

@media only screen and (min-width: 600px) {
  .Features {
    margin: -250px auto 100px auto;
  }
}

@media (min-width: 1500px) {
  .Features {
    margin: -410px auto 100px auto;
  }
}
