.post_containers {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 5rem auto;
}

.post_containers_post {
  margin: 0 20px;
}

.post_containers_post h1 {
  margin-top: 5rem;
  font-size: 24px;
  font-weight: 700;
}
