.post_cont {
  width: 100%;
  background-color: #f6f6f6;
}

.post_cont_column {
  display: grid;
  grid-template-columns: 50% 50%;
}

.imagencon {
  overflow: hidden;
}

.post_cont_column div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.post_cont_column div img:hover {
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}

.info_post {
  padding: 30px;
}

.info_post h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.info_post p {
  height: 40px;
  margin-top: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

.links {
  display: flex;
  margin-top: 20px;
}

.links a {
  margin-left: auto;
}

.info_post span {
  margin-left: 5px;
  font-weight: 200;
}

.tag {
  margin-left: 15px;
}

.btn_content {
  display: flex;
  margin-top: 15px;
}

.btn_content a {
  font-size: 16px;
  font-weight: 200;
  padding: 7px 50px;
  border-radius: 100px;
  text-align: center;
  background-color: #c5f87460;
  color: #90c33c;
}

.authorMain {
  display: flex;
  align-items: center;
  margin: 30px 15px;
}

.namesMain {
  margin-left: 10px;
  height: 30px;
}

.namesMain p {
  font-size: 12px;
  font-weight: 200;
  margin-top: -10px;
}

.namesMain h4 {
  font-size: 14px;
  font-weight: 200;
}

.avatarMain {
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
  object-fit: cover;
  object-position: center center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .post_cont_column {
    display: grid;
    grid-template-columns: 100%;
  }

  .info_post {
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .post_cont_column {
    display: grid;
    grid-template-columns: 100%;
  }

  .info_post {
    padding: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .post_cont_column {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .info_post {
    padding: 30px;
  }
}
