.getapp_container {
  position: relative;
  width: 100%;
  height: 55px;
  padding: 10px 10px !important;
  background-color: white;
  position: fixed;
  z-index: 10000000;
  margin: 0;
  color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .getapp_container {
    display: inline;
  }

  .getapp_container_app {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ._app {
    display: flex;
  }

  ._app img {
    width: 35px;
    height: 35px;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.274);
    border-radius: 10px;
  }

  ._name {
    margin-left: 10px;
  }

  ._name h3 {
    font-weight: 700;
    margin-bottom: -5px;
    font-size: 16px;
  }

  ._app__btn {
    margin-left: auto;
  }

  ._app__btn a {
    background-color: #90c33c;
    color: white;
    padding: 5px 20px;
    border-radius: 100px;
  }

  ._app__btn a:hover {
    color: white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .getapp_container {
    display: inline;
  }

  .getapp_container_app {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ._app {
    display: flex;
  }

  ._app img {
    width: 35px;
    height: 35px;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.274);
    border-radius: 10px;
  }

  ._name {
    margin-left: 10px;
  }

  ._name h3 {
    font-weight: 700;
    margin-bottom: -5px;
    font-size: 16px;
  }

  ._app__btn {
    margin-left: auto;
  }

  ._app__btn a {
    background-color: #90c33c;
    color: white;
    padding: 5px 20px;
    border-radius: 100px;
  }

  ._app__btn a:hover {
    color: white;
  }

  .getapp_container {
    display: inline;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .getapp_container {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .getapp_container {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .getapp_container {
    display: none;
  }
}
