.header_cont {
  background-color: #90c33c;
  width: 100%;
  min-height: calc(100vh - 240px);
  background-image: url("../../assets/img/franja.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-position-x: right;
}

.header {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo a img {
  width: 200px;
  padding-left: 15px;
}

.Links {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}

.buttons {
  background-color: #2d2861;
  border: none;
  color: white !important;
  padding: 7px 30px;
  border-radius: 100px;
  font-size: 14px;
  outline: none !important;
  cursor: pointer;
  display: inline;
}

.info_header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: white !important;
}

.info_header div {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 90%;
  max-width: 800px;
  color: white !important;
}

.info_header div h2 {
  font-size: 60px;
  font-weight: bold;
  color: white !important;
}

.info_header div h1 {
  font-size: 32px;
  height: 80px;
  vertical-align: baseline;
  font-weight: 500;
  color: white !important;
}

.info_header div p {
  font-size: 16px;
  font-weight: 200;
  color: white;
  display: inline;
}

.info_header div a {
  font-size: 16px;
  font-weight: 200;
  width: 350px;
  padding: 15px;
  border-radius: 100px;
  text-align: center;
  background-color: #c5f87460;
  color: white;
  margin-top: 20px;
}

.curve {
  object-fit: cover;
  object-position: center center;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .info_header div h2 {
    font-size: 42px;
    font-weight: bold;
    color: white !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 321px) {
  .header {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .info_header div p {
    display: none;
  }

  .info_header div h1 {
    font-size: 32px;
    height: 170px;
    vertical-align: baseline;
    font-weight: 500;
    color: white !important;
  }
  .buttons {
    display: none;
  }

  .info_header div h2 {
    font-size: 24px;
    font-weight: bold;
    color: white !important;
  }

  .info_header div a {
    width: 280px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
