.container__cards_main {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .container__cards_main {
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container__cards_main {
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container__cards_main {
    grid-template-columns: 50% 50%;
  }
}
