.Footer {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  flex-shrink: 0;
}

.Footer-Content {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  align-self: center;
  justify-content: center;
  border-top: 0.5px solid gainsboro;
}
.Subfooter {
  padding: 0 20px;
  align-self: center;
  justify-content: center;
  border-bottom: 0.5px solid gainsboro;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 30px;
}

.certificados {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding-bottom: 30px;
  margin-top: 20px;
}

.lastpost {
  background-color: rgba(255, 206, 72, 0.05);
  display: inline-flex;
  align-items: flex-start;
  color: #90c33c;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: 18px;
  font-weight: bold;
  max-width: auto;
}

.lastpost:hover {
  color: #90c33c;
}

.lastpost span {
  color: #90c33c;
  font-size: 18px;
  font-weight: 300;
  padding-left: 15px;
}

.SuBitems {
  text-align: left;
  padding: 20px;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  margin: 10px;
  color: #212121;
  list-style: none;
}

.SuBitemsxs {
  text-align: left;
  padding: 20px;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  margin: 10px;
  color: #212121;
  list-style: none;
}

.SuBitemsxs p {
  color: #212121;
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.SuBitemsxs ul {
  text-decoration: none;
  color: #212121;
  list-style: none;
}

.SuBitemsxs li {
  text-decoration: none;
}

.SuBitemsxs a {
  color: #212121;
  line-height: 35px;
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.SuBitemsspan {
  text-decoration: none;
  color: #90c33c;
  font-size: 16px;
  font-weight: bold;
}

.logos {
  width: 120px;
  height: 50px;
}

.googl {
  width: 120px;
  height: 40px;
  margin-top: 5px;
}

.icons {
  color: #212121;
}

.icons:hover {
  color: #90c33c;
}

.item_contact {
  width: 100%;
  height: 60px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  margin-bottom: 20px;
}

/*Escritorio*/
@media (min-width: 1199.98px) {
}
/*Fin Escritorio*/

/*Escritorio*/
@media (min-width: 1000px) and (max-width: 1200px) {
}

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .logos {
    width: 100px;
    height: 50px;
  }

  .googl {
    width: 100px;
    height: 33px;
    margin-top: 8px;
  }

  .SuBitemsxs {
    text-align: left;
    padding: 0px;
    display: flex;
    max-width: 160px;
    flex-direction: column;
    margin: 0;
    color: #212121;
    margin-top: 30px;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .logos {
    width: 100px;
    height: 50px;
  }

  .googl {
    width: 100px;
    height: 33px;
    margin-top: 8px;
  }

  .SuBitemsxs {
    text-align: left;
    padding: 0px;
    display: flex;
    max-width: 160px;
    flex-direction: column;
    margin: 0;
    color: #212121;
    margin-top: 30px;
  }
}
/*fin movil #647DEE*/
