.post_container {
  width: 100%;
  margin-top: 1rem;
}

.post_container_grid {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  gap: 2rem;
}

.post_card {
  border-radius: 15px;
  background-color: #f6f6f6;
}

.img_conts {
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.post_card div img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: center center;
  display: block;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.post_card div img:hover {
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}

.info_posts {
  margin: 10px;
}

.info_posts h1 {
  height: 85px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  margin: 15px 0;
  padding: 0;
}

.info_posts p {
  height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  font-weight: 200;
  color: gray;
}

span {
  color: gray;
  font-weight: 200;
}

.bt_content {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bt_content a {
  text-align: center;
  color: #90c33c;
  background-color: #c5f87460;
  width: 300px;
  border-radius: 100px;
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}

.author {
  display: flex;
  align-items: center;
  margin: 30px 15px;
}

.names {
  margin-left: 10px;
}

.names p {
  font-size: 12px;
  font-weight: 200;
  line-height: 0;
}

.names h4 {
  font-size: 14px;
  font-weight: 200;
}

.avatar {
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
  object-fit: cover;
  object-position: center center;
}

.like {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1000;
  background-color: white;
  width: 90px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.like button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.like p {
  padding-top: 15px;
  margin-left: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .post_container_grid {
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .post_container_grid {
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .post_container_grid {
    grid-template-columns: repeat(2, 48%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .post_container_grid {
    grid-template-columns: repeat(3, 31.5%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .post_container_grid {
    grid-template-columns: repeat(3, 31.5%);
  }
}
