.franja {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  margin-bottom: 5rem;
}

.franja_cont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.franja_cont h1 {
  margin: 0 15px;
  font-size: 42px;
  font-weight: bold;
}

.franja_cont p {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 300;
}
